body{
    background-color: #fff;
}

h1{
    color: rgba(8, 141, 165, 1);
    margin-left: 100px;
    text-shadow: 1px .5px 4px rgba(0, 0, 0, .6);
}

.container {
    width: 450px;
    height: 450px;
    background-color: #faebd7;
    border: 2px solid black;
    border-radius: 5%;
}

/* Select all squares in the array*/
.container .squares:nth-child(-n+4){
    background-image: url("images/icons/icons_2.png");
    color: #fff;
    float: left;
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 25%;
    cursor: pointer;
    transition: transform .5s ease-in-out;
}

/* Select all squares paragraphs in the array*/
.squares:nth-child(-n+4) p{
    font-family: "Helvetica Neue", Helvetica, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.8);
}

/*individually select a square in the array*/
.squares:nth-child(1){
    background: #4240ff;
}

.squares:nth-child(2){
    background: salmon;
}

.squares:nth-child(3){
    background: rgb(154, 10, 98);
}

.squares:nth-child(4){
    background: royalblue;
}

/*Hover, Animation, and Transition Effects*/
.container .squares:nth-child(-n+4):hover{
    background-image: url("images/icons/icon_1.png");
    transform:translateY(50px);
    animation-name: sleep;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(2.5,.2,.3,2);
}

.squares:nth-child(1):hover{
    background: violet;
}

.squares:nth-child(2):hover{
    background: rgb(10, 150, 200)
}

.squares:nth-child(3):hover{
    background: #2f6a0d;
}

.squares:nth-child(4):hover{
    background: peachpuff;
}